{% extends "base/base.html" %} {% load static %} {% block content %}
<!--begin::Head-->
<!--end::Head-->

<style>
/* FAQAT MOBIL EKRANLAR UCHUN STYLLAR (768px va undan kichik) */
@media (max-width: 768px) {
    /* Label textlarini chap tomonga tekislash */
    .form-group.row label.col-form-label {
        text-align: left !important;
        padding-bottom: 5px;
    }

    /* Card footer qismini to'g'rilash */
    .card-footer .row {
        margin: 0 !important;
    }

    .card-footer .col-lg-3 {
        display: none !important; /* Mobil ko'rinishda bo'sh joyni yashirish */
    }

    .card-footer .col-lg-9 {
        padding: 0 !important;
        width: 100% !important;
    }

    /* Save va Cancel tugmalarini yonma-yon teng 50% qilish */
    .mobile-btn-container {
        display: flex !important;
        flex-direction: row !important;
        gap: 10px !important;
        width: 100% !important;
    }

    .mobile-btn-container .btn,
    .mobile-btn-container a {
        flex: 1 !important;
        width: 50% !important;
        margin: 0 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        height: 42px !important;
        text-align: center;
    }
}
</style>

<!--begin::Body-->
<body
    id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed page-loading"
>
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    {% include "reception/parts/header-mobile.html" %}
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            {% include "reception/parts/aside.html" with menu_parent="teacher-all" menu_child="teacher-create" %}
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                {% include "reception/parts/header.html" %}
                <!--end::Header-->
                <!--begin::Content-->
                <div
                    class="content d-flex flex-column flex-column-fluid"
                    id="kt_content"
                >
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <div
                                class="card card-custom card-sticky"
                                id="kt_page_sticky_card"
                            >
                                <div class="card-header">
                                    <div class="card-title">
                                        <h3 class="card-label">
                                            Create new staff <i class="mr-2"></i>
                                        </h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!--begin::Form-->
                                    <form class="form" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% for field in form %}

                                        <div class="form-group row">
                                            <label class="col-form-label text-right col-lg-3 col-sm-12" for="{{field.auto_id}}">
                                                {% if field.field.required %}
                                                <b>{{field.label}}</b>
                                                {% else %}
                                                {{field.label}} 
                                                {% endif %}
                                            </label>
                                            <div class='col-lg-9 col-md-9 col-sm-12'>
                                                <span style="color:red;">{{field.errors}}</span>
                                                {{field}}
                                            </div>
                                        </div>
                                        {% endfor %}    
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-9">
                                                    <div class="mobile-btn-container">
                                                        <button type="submit" class="btn btn-primary mr-2" name="saved">Save</button>
                                                        <a href="{% url 'reception:employee-list' %}" class="btn btn-secondary"><span>Cancel</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .d-flex.flex-column-fluid -->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                {% include "parts/footer.html" %}
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!-- begin::User Panel-->
    {% include "parts/user-panel.html" %}
    <!--begin::Scrolltop-->
    {% include "parts/scrolltop.html" %}
    <!--end::Scrolltop-->
</body>
<!--end::Body-->
{% endblock %}