{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    {% include 'parts/header-mobile.html' %}

    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            {% include 'parts/aside.html' %}
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-custom card-stretch gutter-b">
                                        <!--begin::Header-->
                                        <div class="card-header border-0 py-5">

                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label font-weight-bolder text-dark">Payment</span>
                                            <small class='mt-2'>Total: {{objects | length}}</small>   
                                        </h3>
                                        </div>
                                        <form method="get">
                                            <div class="form-group row">
                                                <div class="col-lg-3 col-md-9 col-sm-12 mb-lg-0 mb-6  ml-10 ">
                                                    <input type="text" class="form-control datatable-input" placeholder="Search" value="{{request.GET.search}}" name="search" data-col-index="0"/>
                                                </div>

                                                <button type="submit" class="btn btn-primary font-weight-bolder  ml-7 mb-1">
                                                    <span class="nav-icon">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                    <span class="nav-text">Search</span>
                                                </button>
                                            </div>
                                        </form>
                                        <!--end::Header-->
                                        <!--begin::Body-->
                                        <div class="card-body pt-0 pb-3">
                                        <div class="tab-content">
                                            <!--begin::Table-->
                                            <div class="table-responsive">
                                            {% if objects %}
                                            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                                                <thead>
                                                <tr class="text-left text-uppercase">
                                                    <th style="min-width: 100px">ID</th>
                                                    <th style="min-width: 100px">Student</th>
                                                    <th style="min-width: 100px">Group</th>
                                                    <th style="min-width: 100px">Amount</th>
                                                    <th style="min-width: 100px">Date</th>
                                                    <th style="min-width: 100px">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for object in objects %}
                                                {% url 'manager:payment-update' object.id as u %}
                                                {% url 'manager:payment-delete' object.id as d %}
                                                <tr>
                                                    <td class="pl-0 py-6">
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-4 symbol symbol-40 symbol-light-success">
                                                        <span class="symbol-label">{{ object.full_name|slice:':1' }}</span>
                                                        </div>
                                                        <span href="{% url 'manager:payment-create' %}" class="text-dark-75 font-weight-bolder d-block font-size-lg">{{object.id}}</span>      
                                                    </div>
                                                    </td>
                                                    
                                                    <td>
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{object.student.full_name}}</span>
                                                    </td>
                                                    <td>
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{object.group}}</span>
                                                    </td>
                                                    <td>
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{object.amount}}</span>
                                                    </td>
                                                    <td>
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{object.date}}</span>
                                                    </td>
                                                    <td nowrap="nowrap">
                                                    {% include "parts/actions.html"  with update_url=u delete_url=d %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                            </div>
                                            <!--end::Table-->
                                            {% else %}
                                            {% include "parts/nothing-found.html" %}
                                            {% endif %}
                                        </div>
                                        {% if page_obj.paginator.num_pages > 1 %}
                                        {%include 'parts/pagination.html' %}
                                        {% endif %}
                                        </div>
                                        <!--end::Body-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'parts/footer.html' %}
            </div>
        </div>
    </div>
</body>

{% endblock %}
